.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #8b60c5; /* Cambiado a un tono morado */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #c994ed; /* Mantiene el color de las letras */
  margin-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #9f7bd5; /* Cambiado a un tono morado */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 300px;
  padding: 15px;
  text-align: left;
}

.card-content h2 {
  margin: 0;
}

.chart-container {
  background-color: #b9a1dd; /* Cambiado a un tono morado */
  height: 200px;
  margin-top: 10px;
}

.error {
  color: red; /* Mantiene el color de error en rojo */
}

.charts-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre las gráficas */
  flex-wrap: wrap; /* Ajusta las gráficas a múltiples filas en pantallas pequeñas */
}
